@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter:wght@700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


nav {
    padding: 12px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.nav-colored { 
    background-color:#000; 
    transition: background-color 200ms linear;
}

.nav-transparent { 
    background-color:transparent;
    transition: background-color 200ms linear;
}

.nav-colored .btn-nav-login {
    color: #000!important;
    background-color: #E2E2E2;
    transition: all 200ms linear;
}

.nav-transparent .btn-nav-login {
    background-color: #1C1C1C;
    color: #FFFFFF;
    transition: all 200ms linear;
}

nav ul {
    display: flex;
    margin-left: 25px;
    gap: 45px;
    align-items: center;
}

nav ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF; 
}

.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.red {
    color: #AA0101!important;
}

.red2 {
    color: #FC0606!important;
}

.btn-nav-login {
    width: 153px;
    height: 54px;
    background: #1C1C1C;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../../res/img/bg2.png");
    background-size: cover;
    padding-top: 124px;
    padding: 124px 54px 124px 54px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    gap: 257px;
}

.signup-container .top-movie {
    margin: 0 auto;
    margin-top: 77px;
}

.signup-container .top-movie h2{
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.signup-container .top-movie h3{
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.signup-container .signup-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.83);
    border-radius: 50px;
    padding: 77px 47px;
}

.signup-container .signup-home h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.signup-container .signup-home h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.signup-container .signup-home p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 67px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

form input:not([type=radio],[type=checkbox]) {
    height: 70px;
    background: #E2E2E2;
    border-radius: 10px;
    padding-left: 27px;
    font-size: 20px;
}

form button {
    height: 70px;
    border-radius: 10px;
    background-color: #AA0101;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 57px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 0 10px 0;
    background: rgba(0, 0, 0, 0.83);
}

footer > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer .about {
    width: 703px;
}

footer .about h2, 
footer .about p,
footer .address h2,
footer .address p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}

footer .about p {
    margin-top: 8px;
    font-size: 16px;
}

footer .address p {
    margin-top: 12px;
    font-size: 16px;
}

.line {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #fff;
}

footer h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}

.login-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../../res/img/bg1.png");
    padding: 107px 82px;
    display: flex;
}

.login-banner {
    background-image: url("../../res/img/login.png");
    background-position: center;
    background-size: cover;
    padding: 17px 38px;
}

.login-banner h1 {
    margin-bottom: 12px;
}

.login-banner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.login-form, .signup-form {
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 105px;
}

.login-form h1, .signup-form h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}

.signup-form h1 {
    margin-bottom: 30px;
}

.login-form > p, .signup-form > p {
    width: 100%;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #5A5A5A;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 82px;
}

.login-form form label, .signup-form form label {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.login-form form button, .signup-form form button {
    width: 200px;
    height: 50px;
    background-color: #000 ;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #EEEEEE;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 240px;
}

.signup-form form button {
    margin-bottom: 46px;
}

.signup-banner {
    background-image: url("../../res/img/signup.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 24px;
}

.signup-form .label-gender {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #636363;
}

.signup-form .label-tos {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #636363;
}

.signup-form .gender-radio {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 76px;
    margin: 8px 0;
}

.signup-banner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    align-self: flex-end;
    margin-bottom: 36px;
}